<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/surf" method="POST">
        <label for="zip"><h6>enter surf break</h6></label>
        <input type ="text" name="surfbreak" value="">
        <button type="submit">Enter</button>
        <h4><span id="api">Location</span>:</h4>
        
        <h4><span id="api"></span>:</h4>
        
        <h4><span id="api"></span>:</h4
    </form>
</body>
</html>